<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace : mapper 인터페이스의 경로 -->
<mapper namespace="com.example.quiz.mapper.QuizMapper">

<!--    useGeneratedKeys :
        keyProperty : 자동으로 생성된 키를 매핑할 객체(dto)의 속성 이름을 지정
        keyColumn : 데이터베이스에서 자동 생성된 키의 열이름을 지정 -->

    <insert id="addQuiz" parameterType="quizDto" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO quiz(question, answer, author)
        VALUES(#{question},#{answer},#{author});
    </insert>

    <select id="listAll" resultType="quizDto">
        SELECT id, question, answer, author
        FROM quiz
    </select>

    <select id="findQuiz" resultType="quizDto" parameterType="int">
        SELECT id, question, answer, author
        FROM quiz
        WHERE id=#{id}
    </select>

    <update id="changeQuiz" parameterType="quizDto">
        UPDATE quiz
        SET question=#{question}, answer=#{answer}, author=#{author}
        WHERE id=#{id}
    </update>

    <delete id="removeQuiz" parameterType="int">
        DELETE FROM quiz
        WHERE id=#{id}
    </delete>

    <delete id="removeAll">
        DELETE FROM quiz
    </delete>

    <select id="randomQuiz" resultType="quizDto">
        SELECT id, question, answer, author
        FROM quiz
        ORDER BY RAND()
        LIMIT 1
    </select>

    <select id="playQuiz" parameterType="Map" resultType="boolean">
        SELECT COUNT(*)
        FROM quiz
        WHERE id = #{id} and answer = #{answer}
    </select>
</mapper>